---
title: Our Story
hero: Our story
---

<p class="editor-link" style="text-align: center; position: relative;
    top: -185px;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
			<div class="name">{{ person.name }}</div>
		</li>
	{% endfor %}
</ul>

<div class="thirds story-points">
	<div>
		<h3 class="editable">Passion</h3>
		<p class="editable">Wake up and smell the roses! It's what gets me out of bed.</p>
	</div>
	<div>
		<h3 class="editable">Flowers</h3>
		<p class="editable">Few things are more naturally flagrant and beautiful than, well, flowers.</p>
	</div>
	<div>
		<h3 class="editable">Happiness</h3>
		<p class="editable">Daffodil a smile on your face.</p>
	</div>
</div>
